

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.item {
  margin-right: 10px;
}

.link {
  display: block;
  text-transform: uppercase;
  padding: 3px 10px;
  border: 1px solid white;
}

.active {
  background-color: #fff;
  color: black;
}